<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade"> <!-- no-referrer-when-downgrade, unsafe-url 일 경우만 referer 전송 -->
    <!-- <meta name="referrer" content="unsafe-url" > -->
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
{% block content %}
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>